@font-face  {
    font-family: 'Quicksand';
    src:url('themes/basic/assets/fonts/Quicksand.eot');
    src:url('themes/basic/assets/fonts/Quicksand.eot?#') format('eot'),
        url('themes/basic/assets/fonts/Quicksand.woff') format('woff');
}
.large.text {
  font-size: 2.5rem;
}
.medium.text {
  font-size: 2.2rem;
}
.large.ui.button {
  font-size: 2rem;
}
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}
body {
  font-family: Quicksand;
  background-color: #f2f4f7;
  position: relative;
}
.container {
  width: 100%;
  height: 100vh;
}
.header {
  background-color: #cfd2d6;
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 4px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 20px;
}
.home {
  margin-top: 60px;
  text-align: center;
}
.main-button {
  display: inline-block;
  width: 400px;
  padding: 30px;
  background-color: white;
  margin-bottom: 30px;
}
.ui.grid {
  margin: 0;
}
#create-item .field>input,
#search-items .field>label,
#submit-customer .field>label,
#submit-customer-button,
#search-inventory-bar,
#search-customer-bar {
  padding: 10px;
  margin-top: 10px;
  border: none;
}
#submit-customer .field>input {
  padding: 10px;
  border: none;
}
#search-inventory-bar,
#search-customer-bar {
  margin-bottom: 30px;
}
#submit-customer-button {
  text-align: center;
  margin-top: 30px;
}
#submit-sale-button {
  margin-top: 10px;
}
#invoice-customer-button,
#invoice-item-button {
  margin-bottom: 30px;
  font-weight: bold;
}
.ui.positive.button {
  font-weight: bold;
  font-size: 30px;
  padding: 20px;
}
#table-body tr td:first-child,
#customer-table-body tr td:first-child,
#invoice-item-table-body tr td:first-child {
  font-weight: bold;
}
#table-scroll,
#customer-table-scroll,
#invoice-customer-scroll,
#invoice-item-scroll {
  max-height: 60vh;
}
#table-scroll,
#customer-table-scroll,
#invoice-customer-scroll,
#invoice-item-scroll {
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
  padding: 0;
}
.table-number {
  font-weight: bold;
}
#invoice-input {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
  background-color: rgba(0,0,0,0.5);
}
#sale-segment {
  position: absolute;
  top: 10rem;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
}
