html,
body {
  padding: 0;
  margin: 0;
  font-family: "Century Gothic", "AppleGothic";
}
.container {
  background-color: #f2f4f7;
  width: 100%;
  height: 100vh;
}
.header {
  background-color: #cfd2d6;
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 4px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 20px;
}
.main-buttons {
  margin-top: 60px;
  text-align: center;
}
.inventory-button {
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  width: 400px;
  padding: 30px;
  font-size: 35px;
  background-color: white;
  margin-bottom: 30px;
}
.ui.form .field>label,
.ui.form .field>input,
#search-inventory-bar {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 30px;
}
.ui.form .field>input,
#search-inventory-bar {
  padding: 10px;
  margin-top: 10px;
}
.ui.positive.button {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 30px;
  padding: 20px;
}
