html,
body {
  padding: 0;
  margin: 0;
  font-family: "Century Gothic", "AppleGothic";
}
.container {
  background-color: #f2f4f7;
  width: 100%;
  height: 100vh;
}
.header {
  background-color: #cfd2d6;
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 4px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 20px;
}
.home {
  margin-top: 60px;
  text-align: center;
}
.main-button {
  font-family: 'Quicksand', sans-serif;
  display: inline-block;
  width: 400px;
  padding: 30px;
  font-size: 35px;
  background-color: white;
  margin-bottom: 30px;
}

.home,
.main-button,
td {
  cursor: pointer;
}
.ui.grid {
  margin: 0;
}

#create-item .field>label,
#create-item .field>input,
#search-items .field>label,
#submit-customer .field>label,
#submit-customer .field>input,
#search-inventory-bar,
#serach-customer-bar {
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  font-size: 30px;
}
#create-item .field>input,
#search-items .field>label,
#submit-customer .field>label,
#submit-customer-button,
#search-inventory-bar,
#search-customer-bar {
  padding: 10px;
  margin-top: 10px;
  border: none;
}

#submit-customer .field>input {
  padding: 10px;
  border: none;
}
#search-inventory-bar,
#search-customer-bar {
  margin-bottom: 30px;
}
#submit-customer-button {
  text-align: center;
  margin-top: 30px;
}
.ui.positive.button {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 30px;
  padding: 20px;
}
#inventory-table,
#customer-table {
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  font-size: 30px;
}
#table-body,
#customer-table-body tr td:first-child {
  font-weight: bold;
}
#table-scroll,
#customer-table-scroll {
  overflow-y: auto;
  white-space: nowrap;
  height: 1000px;
  padding: 0;
}
.table-number {
  font-weight: bold;
}
